<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Pentago</title>
        <link rel="stylesheet" href="/stylesheets/style.css">  
    </head>
    <body>
        <div class="hero">
            <div class="navbar">
                <ul>
                    <img src="/images/logo.png" alt="logo">
                </ul>
            </div>
        </div>
        <div class="banner3">
            <div class="left_column1">
                <ul style="overflow:auto; width:300px; height:800px" id="Visitor" type="none">
                </ul>
            </div>
            <div class="right_column1">
                <div class="upper_column1">
                    <table>

                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col" class="date">Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if(posts == null || posts.length == 0){ %>
                              <tr>
                                <td colspan=2> There is no data to show :( </td>
                              </tr>
                            <% } %>
                            <% posts.forEach(function(post) { %>
                              <tr>
                                <td>
                                  <a href="/ingame/<%= post._id %>"><div class="ellipsis"><%= post.Title %></div></a>
                                </td>
                                <td>
                                  <span data-date="<%= post.createdAt %>"></span> <!-- 1 -->
                                </td>
                              </tr>
                            <% }) %>
                        </tbody>
                    </table>

                    <button type="button" class="signup" onclick="location.href='/ingame/new'">Create</button>
                </div>
                <div class="lower_column1">
                    <ul style="overflow:auto; width:1400px;height:260px" id="messages" type="none">
                        <li id="usercount"></li>
                    </ul>
         
                    <form id="msgform">
                        <input id="msginput" autocomplete="off" type="text">
                        <button type="submit">전송</button>
                    </form>
        
                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                        var socket = io();
                        var msgform = document.getElementById('msgform');
                        // socket.on 함수로 서버에서 전달하는 신호를 수신
                        socket.on('visitor',(list)=>{
                            var visitorList=document.getElementById('Visitor');
                            var visitorTag=document.createElement('li');
                            visitorTag.innerText=list;
                            visitorList.appendChild(visitorTag);
                        });

                        socket.on('usercount', (count) => {
                            var userCounter = document.getElementById('usercount');
                            userCounter.innerText = "현재 " + count + "명이 서버에 접속해있습니다.";
                        });
        
                        // 메시지 수신시 HTML에 메시지 내용 작성
                        socket.on('message', (msg) => {
                            var messageList = document.getElementById('messages');
                            var messageTag = document.createElement("li");
                            messageTag.innerText = msg;
                            messageList.appendChild(messageTag);
                        });
        
                        msgform.onsubmit = (e) => {
                            e.preventDefault();
                            var msginput = document.getElementById('msginput');
        
                            // socket.emit으로 서버에 신호를 전달
                            socket.emit('message',"<%=user.Name%> : " + msginput.value);
        
                            msginput.value = "";
                        };

                        socket.emit('visitor',"<%=user.Name%>");
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
